[Unit]
Description = RateEngine daemon starting
After = postgresql.target

[Service]
ExecStart = /usr/local/RateEngine/scripts/systemd/start.sh
ExecStop  = /usr/local/RateEngine/scripts/systemd/stop.sh

[Install]
WantedBy = multi-user.target

